.root {
    @apply mt-16;
    @apply md:grid md:gap-x-4;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "header desc"
    "button desc"
    "code code";
}

.root > h2 {
    @apply mt-0 border-none;
    grid-area: header;
}

.root > button {
    @apply mt-4 md:mt-2 w-full max-w-48;
    grid-area: button;
}

.root > p {
    @apply mt-0 self-center;
    grid-area: desc;
}

.root > :global(.nextra-code-block) {
    grid-area: code;
}
